<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/index :: head}"></head>
<body>
<nav th:replace="~{/index :: navbar}"></nav>
<div class="container">
    <h1>Create Author</h1>
    <a class="btn btn-primary" href="/authors">Back</a>
    <form th:action="@{/authors/create}" method="post" th:object="${author}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{address}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <div class="mb-3">
            <label for="avatar" class="form-label">Avatar</label>
            <input type="text" class="form-control" id="avatar" th:field="*{avatar}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>
