<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/index :: head}"></head>
<body>
<nav th:replace="~{/index :: navbar}"></nav>
<div class="container">
    <h1>Create Book</h1>
    <a class="btn btn-primary" href="/books">Back</a>
    <form th:action="@{/books/create}" method="post" th:object="${book}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <select id="author" class="form-control" th:field="*{author}">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" th:field="*{description}">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name="image" th:field="*{image}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" th:field="*{price}">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category" th:field="*{category}">
        </div>
        <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="publisher" name="publisher" th:field="*{publisher}">
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" id="year" name="year" th:field="*{year}">
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <input type="text" class="form-control" id="language" name="language" th:field="*{language}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
